<div class="form-group row">
    <label class="col-form-label col-sm-2" for="original">URL Original</label>
    <div class="col-sm-8">
      <input readonly class="form-control" id="original" value="<%= model.original %>" />
    </div>
  </div>
  
