<%- include("_header") -%>

<h3>Encurtador de URLs - Desenvolvimento Back-end para Aplicações Mobile</h3>

<p>Rotas</p>
<table style="border-collapse: collapse; width: 100%; height: 108px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;">URL</td>
<td style="width: 33.3333%; height: 18px;">VERBO</td>
<td style="width: 33.3333%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;">/</td>
<td style="width: 33.3333%; height: 18px;">GET</td>
<td style="width: 33.3333%; height: 18px;">Home</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;">/urls</td>
<td style="width: 33.3333%; height: 18px;">GET</td>
<td style="width: 33.3333%; height: 18px;">listagem de urls&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;">/create</td>
<td style="width: 33.3333%; height: 18px;">GET</td>
<td style="width: 33.3333%; height: 18px;">form inserir url</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;">/create/id&nbsp;</td>
<td style="width: 33.3333%; height: 18px;">POST</td>
<td style="width: 33.3333%; height: 18px;">persistir url</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;">/update/id</td>
<td style="width: 33.3333%; height: 18px;">GET</td>
<td style="width: 33.3333%; height: 18px;">form editar url</td>
</tr>
<tr>
<td style="width: 33.3333%;">/update/id</td>
<td style="width: 33.3333%;">POST</td>
<td style="width: 33.3333%;">persistir atualiza&ccedil;&atilde;o url</td>
</tr>
</tbody>
</table>

<%- include("_footer") -%>