<%- include("_header") -%>

<h3>Encurtador de URLs - Desenvolvimento Back-end para Aplica&ccedil;&otilde;es Mobile</h3>
<p>Rotas</p>
<table style="border-collapse: collapse; width: 97.5852%;" border="1">
<tbody>
<tr>
<td style="width: 33.3333%;">GET</td>
<td style="width: 33.3333%;">/</td>
<td style="width: 33.3333%;">pagina inicial</td>
</tr>
<tr>
<td style="width: 33.3333%;">GET</td>
<td style="width: 33.3333%;">/</td>
<td style="width: 33.3333%;">lista todas urls</td>
</tr>
<tr>
<td style="width: 33.3333%;">GET</td>
<td style="width: 33.3333%;">/?{data_inclusao}</td>
<td style="width: 33.3333%;">lista urls com data de inclus&atilde;o passa como par&acirc;metro</td>
</tr>
<tr>
<td style="width: 33.3333%;">GET</td>
<td style="width: 33.3333%;">/create</td>
<td style="width: 33.3333%;">
<p>disponibiliza formul&aacute;rio para cria&ccedil;&atilde;o de nova url contendo os inputs:</p>
<ul>
<li>url</li>
<li>url encurtada pelo aplicativo</li>
<li>data de inclus&atilde;o</li>
</ul>
</td>
</tr>
<tr>
<td style="width: 33.3333%;">POST</td>
<td style="width: 33.3333%;">/create</td>
<td style="width: 33.3333%;">persiste os inputs acima no banco de dados na tabela urls</td>
</tr>
<tr>
<td style="width: 33.3333%;">GET</td>
<td style="width: 33.3333%;">/update/{id}</td>
<td style="width: 33.3333%;">retorna os dados da url com determinado id</td>
</tr>
<tr>
<td style="width: 33.3333%;">PUT</td>
<td style="width: 33.3333%;">/update/{id}</td>
<td style="width: 33.3333%;">atualiza o registro com os inputs informados por id</td>
</tr>
<tr>
<td style="width: 33.3333%;">GET</td>
<td style="width: 33.3333%;">/delete/{id}</td>
<td style="width: 33.3333%;">retorna dados da url para confirma&ccedil;&atilde;o de exclus&atilde;o por id</td>
</tr>
<tr>
<td style="width: 33.3333%;">DELETE</td>
<td style="width: 33.3333%;">/delete/{id}</td>
<td style="width: 33.3333%;">exclui url por id</td>
</tr>
</tbody>
</table>

<%- include("_footer") -%>